# Ignorar archivos auxiliares de LaTeX y similares
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.gz
*.nav
*.snm
*.toc

# Ignorar archivos de paquetes o configuraciones adicionales
*.zip
*.pth
*.bin

# Ignorar imagenes y videos
*.mp4
*.mkv
*.png
*.jpeg
# Entorno
/Python/Experimental IV/Exp4
*.vscode
**/venv/

# Datos 
*.json
*.csv
*.txt
*.yaml
/Python/CompCuantica/Proyecto_Low_Pt_qml/Quantum_Machine_Learning_for_b-jet_charge_identifi.pdf
# Estos en particular si los quiero
!Python/LabAv1/ProyectoF/aaaaaaaaaaaa.csv
!Python/LabAv1/ProyectoF/locura2.csv
!Python/LabAv1/ProyectoF/locura.csv
!Python/LabAv1/ProyectoF/paneod1.csv
!Python/LabAv1/ProyectoF/paneoh.csv
!Python/LabAv1/ProyectoF/paneov.csv
!Python/LabAv1/ProyectoF/test1.csv
